<tables>
    <!-- Locations of  sniper index under genome directory  -->
    <table name="sniper_index" comment_char="#" allow_duplicate_entries="False">
        <columns>value, dbkey, name, path</columns>
        <file path="tool-data/sniper_index.loc" />
    </table>
</tables>
